name: Benchmarks
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

defaults:
  run:
    shell: bash -el {0}

jobs:
  run_benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          environments: default lint benchmark
      - name: Install repository and run benchmarks
        run: |
          pixi run -e benchmark postinstall
          pixi run benchmark
      - name: Update readme.md
        run: |
          line_number=`grep "| T-learner" benchmarks/readme.md -n | cut -f1 -d:`
          head -n $(($line_number -1)) benchmarks/readme.md > benchmarks/new_readme.md
          cat benchmarks/comparison.md >> benchmarks/new_readme.md
          mv benchmarks/new_readme.md benchmarks/readme.md
      - name: Run pre-commit hooks
        run: pixi run pre-commit-run --color=always --show-diff-on-failure || true
      - name: Create PR
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: Auto-update benchmarks/readme.md
          title: Auto-update benchmarks/readme.md
          body: |
            Update benchmarks/readme.md.
            Remember to update the corresponding values in `tests/test_learner.py`.
          branch: update-benchmarks
          delete-branch: true
          add-paths: benchmarks/readme.md
          draft: true
